---
layout: default
title: Home
---
  <div class="card">
	<div class="row g-0 align-items-center">
       <div class="col-md-3 p-3">
       	  <img src="{{ '/public/images/logo.png' | absolute_url }}" style="height:200px; width:auto" class="card-img" alt="...">
      </div>
      <div class="col-md-9">
          <div class="card-body">
              <h2 class="card-title text-info">BENVENUTI IN WIKILABS.ORG</h2>
              <h4 class="fw-normal">Questa piattaforma raccoglie laboratori didattici di matematica 
              con l'obiettivo di renderli replicabili.
              </h4>
              <h4 class="fw-normal">
              Per aggiungere un laboratorio è sufficiente aggiungere il file di descrizione con eventuali allegati ed immagini, seguendo
              le regole del <a href="https://github.com/Dopolavoro-Matematico/dopolavoro-matematico.github.io" class="text-decoration-underline text-info">repository</a>
     		  </h4>
     		  <h4 class="fw-normal">
     		  I laboratori sono riusabili con l'accortezza di rispettare le regole della licenza 
     		  <a href="https://creativecommons.org/licenses/by-nc-sa/2.5/it/deed.it" class="text-decoration-underline text-info">CC-BY-NC-SA</a>.
			  </h4>
     		  <h4 class="fw-normal">
     		  Se sei un autore vuol dire che metti a disposizione il tuo lavoro per il riuso. 
     		  </h4>
     		  <h4 class="fw-normal">
     		  Se sei un fruitore dei contenuti devi rispettare i termini della licenza.     		  
     		  </h4>
     		  
              
         </div>
      </div>
  	</div>
  </div>

  <div class="row">
      <div class="col-12">
          <h4 class="mb-4">Laboratori per evento</h4>
      </div>
  </div>
  
  <div class="row">
     
      {% for event in site.data["events"] %}
      <div class="col-md-4 pb-2">
      	 <a href="{{ site.url }}/event/{{event[0] | slugify }}/index.html" class="text-white">
	    	 <div class="card bg-info overflow-hidden h-100">
	             <div class="card-body">
	             	 <div class="toll-free-box text-center">
		                 <h4><i class="fa-regular fa-{{ event[0] | split: ' ' | last | slice: 0 | downcase }}"></i>
							{{ event[0] }}
						 </h4>
					 </div>
	              </div> <!-- end card-body-->
	        </div> <!-- end card-->
	     </a>
      </div>
      {% endfor %}
      
  </div>
  
  <div class="row">
      <div class="col-12">
          <h4 class="mb-4">Laboratori per tipo</h4>
      </div> <!-- end col -->
  </div>
  
  <div class="row">
     
      {% for category in site.categories %}
      <div class="col-md-4 pb-2">
      	 <a href="{{ site.url }}/category/{{category[0] | slugify }}/index.html" class="text-white">
	    	 <div class="card bg-success overflow-hidden h-100">
	             <div class="card-body">
	             	 <div class="toll-free-box text-center">
		                 <h4> <i class="fa-regular fa-{{ category[0] | split: ' ' | last | slice: 0 | downcase }}"></i>
							{{ category[0]}}
						 </h4>
					 </div>
	              </div> <!-- end card-body-->
	        </div> <!-- end card-->
	     </a>
      </div>
      {% endfor %}
      
  </div>
  <!-- end row -->

  <div class="row">
      <div class="col-12">
          <h4 class="mb-4">Gli ultimi laboratori</h4>
      </div> <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
  	  {% for post in paginator.posts %}
      <div class="col-sm-6 col-lg-4 pb-2">
      	<a href="{{ post.url }}">
          <div class="card h-100">
          	  {% if post.image %}
          	  <img src="{{ '/public/images/' | append: post.image | absolute_url }}" class="card-img" alt="...">
              {% endif %}
              <div class="card-body">
                  <h4 class="card-title text-dark">{{ post.title }}</h4>
                  <p class="text-dark">{{ post.author }}</p>
                  <p class="card-text">
                  		<small class="text-muted">{{ post.date | date_to_string }}</small>
                  </p>
              </div> <!-- end card-body -->
          </div> <!-- end card -->
        </a>
      </div> <!-- end col-->
      {% endfor %}
  </div>
  <!-- end row -->

  
