---
layout: default
title: Home
---
  <div class="row">
      <div class="col-12">
          <h4 class="mb-4">Laboratori per tipo</h4>
      </div> <!-- end col -->
  </div>
  <div class="row">
     
      {% for category in site.categories %}
      <div class="col-md-4">
    	 <div class="card border-primary border">
             <div class="card-body">
                 <h5 class="card-title text-primary">{{ category[0]}}</h5>
                 <p class="card-text"></p>
                 <a href="{{ site.url }}/category/{{category[0] | slugify }}/index.html" class="btn btn-primary btn-sm">Vai ai laboratori</a>
             </div> <!-- end card-body-->
         </div> <!-- end card-->
      </div>
      {% endfor %}
      
  </div>
  <!-- end row -->

  <div class="row">
      <div class="col-12">
          <h4 class="mb-4">Gli ultimi laboratori</h4>
      </div> <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
  	  {% for post in paginator.posts %}
      <div class="col-sm-6 col-lg-4 mb-2">
          <div class="card h-100">
          	  {% if post.image %}
          	  <img src="{{ '/public/images/' | append: post.image | absolute_url }}" class="card-img" alt="...">
              {% endif %}
              <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">
                  {{ post.abstract }}
                  </p>
                  <p class="card-text">
                  		<small class="text-muted">{{ post.date | date_to_string }}</small>
                  </p>
              </div> <!-- end card-body -->
              <div class="card-footer">
                  <a href="{{ post.url }}" class="btn btn-info">Vai al laboratorio</a>
          	  </div>
          </div> <!-- end card -->
      </div> <!-- end col-->
      {% endfor %}
  </div>
  <!-- end row -->

  
